@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

body {
  background-color: #DCE5E9;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  padding: 24px 24px;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #fff;
  background-color: transparent;
  z-index: 100;
}

#hamburger_menu {
	display: none;
}

#hamburger_menu:hover,
#exit-btn:hover {
	cursor: pointer;
}

.nav_links {
  display: flex;
  gap: 32px;
}

.container {
  padding: 4rem 0;
}

.row {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 0 24px;
}

.nav_link,
.btn {
  color: #fff;
}

.text-white {
  color: #fff;
}

.hero-text {
  color: #fff;
  position: absolute;
  top: 30%;
  left: 24px;
  right: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.italic {
  font-style: italic;
}

.hero-btn {
  color: #fff;
}

.title {
  font-size: 48px;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 100vh;
  background-image: url('assets/Group\ 22.jpg');
  background-position: center;
  background-size: cover;
}

.bottom_hero_text {
  position: absolute;
  bottom: 32px;
  text-align: center;
  left: 4px;
  right: 4px;
  color: #fff;
}

/* services */
.services-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-heading {
  text-align: center;
  font-weight: 300;
  font-size: 32px;
}

.sub-heading {
  text-align: center;
}

.service-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.service-card {
  background-color: #fff;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  display: flex;
  justify-content: space-between;
}

.service-text-container {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.service-title {
  font-size: 32px;
  font-weight: 300;
}

.service-info {
  color: #4f4f4f;
}

.service-keypoints {
  margin-left: 12px;
}

.service-keypoints > li {
  list-style-type:circle;
  margin-top: 12px;
  font-size: 12px;
}

.service-img {
  width: 300px;
}

.service-CTA {
  margin-top: 48px;
  background-color: #5BB4A4;
  color: #fff;
  padding: 12px 24px;
  font-size: 12px;
}

/* about */
#aboutmsl {
  background-image: url('assets/msl-about-image.jpg');
  background-position: center;
  background-size: cover;
}

.about-row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-text {
  margin-top: 16px;
  width: 90%;
  font-weight: 300;
  text-align: center;
}

.testimonial {
  font-style: italic;
  margin-top: 24px;
  font-size: 16px;
  width: 100%;
  max-width: 800px;
  border: 1px solid #fff;
  padding: 16px;
  border-radius: 8px;
}

.contact-container {
  padding-top: 4rem;
  max-width: 98%;
  margin: 0 auto;
  position: relative;
}

.contact-row {
  background-color: #2F3C4F;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  padding: 24px;
  height: 400px;
}

.contact-icons {
  margin-top: 80px;
  display: flex;
  justify-content: center;
  gap: 80px;
}

.contact-link {
  color: #fff;
  font-weight: 300;
}

.icon-box a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  width: auto;
}

footer {
  background-color: #2F3C4F;
}

.footer-link {
  color: #fff;
}

.footer-links {
  display: flex;
  gap: 32px;
  justify-content: center;
  margin-top: 100px;
  font-size: 12px;
}

.copyright {
  position: absolute;
  text-align: center;
  color: #fff;
  margin: 24px 0;
  font-size: 12px;
  bottom: 0px;
  left: 4px;
  right: 4px;
}

.nav_view-change {
	inset: 0;
	border-radius: 0;
	border-color: transparent;
	background-color: #E5D679;
	transition: inset 500ms ease, border-radius 500ms ease, background-color 500ms ease;
}

.text_appear {
	visibility: visible;
}

/* modal */
#nav_modal {
	position: fixed;
	inset: 0;
	background-color: #2F3C4F;
	z-index: 100;
	visibility: hidden;
	opacity: 0;
	transition: visibility 500ms ease-in-out, opacity 300ms ease;
}

#nav_modal.show_modal {
	visibility: visible;
	opacity: 1;
}

.nav_modal--container {
	position: relative;
}

.nav_modal--container {
	width: 100%;
	height: 100%;
	padding: 16px;

	display: flex;
	align-items: center;
	justify-content: flex-end;
}

#exit-btn {
	background-color: transparent;
	border: none;
	position: absolute;
	top: 34px;
	right: 26px;
}

.nav_modal--list {
	color: #fff;
	font-size: 16px;
	text-align: end;
	display: flex;
	flex-direction: column;
	gap: 32px;
}

#nav_modal.show_modal {
	visibility: visible;
	opacity: 1;
}

.solid {
	background-color: #2f3c4f9b;
	transition: background-color 300ms ease;
}


/* 925px */
@media (max-width: 925px) {
  .title {
    font-size: 32px;
  }

  .nav_link {
    display: none;
  }

  #hamburger_menu {
		display: block;
	}

  .service-card {
    flex-direction: column;
    width: 500px;
    gap: 80px;
    align-items: center;
  }

  .service-text-container {
    width: 100%;
  }

  .service-info {
    margin: 8px 0 32px 0;
  }

  .service-heading {
    font-size: 24px;
  }

  .service-img {
    width: 100%;
    max-width: 500px;
  }
}

/* 525px */
@media (max-width: 525px) {
  .title {
    font-size: 24px;
  }

  .service-card {
    width: 300px;
  }

  .service-text-container {
    width: 100%;
  }

  .service-info {
    margin: 8px 0 32px 0;
  }

  .service-heading {
    font-size: 24px;
  }
}

/* 380px */
@media (max-width: 380px) {
  .sub-heading {
    font-size: 12px;
  }

  .service-heading {
    font-size: 16px;
  }

  .service-title {
    font-size: 16px;
  }

  .service-info,
  .service-keypoints {
    font-size: 12px;
  }

  .contact-icons {
    flex-direction: column;
    gap: 32px;
  }

  .contact-row {
    height: 500px;
  }
}